[submodule "software/console"]
	path = software/console
	url = https://github.com/amar-jay/bldc_console
[submodule "software/demo_firmware/Middlewares/Third_Party/DSDL"]
	path = software/demo_firmware/Middlewares/Third_Party/DSDL
	url = https://github.com/dronecan/DSDL
[submodule "software/demo_firmware/Middlewares/Third_Party/dronecan_dsdlc"]
	path = software/demo_firmware/Middlewares/Third_Party/dronecan_dsdlc
	url = https://github.com/dronecan/dronecan_dsdlc
[submodule "software/demo_firmware/Middlewares/Third_Party/libcanard"]
	path = software/demo_firmware/Middlewares/Third_Party/libcanard
	url = https://github.com/dronecan/libcanard
[submodule "software/firmware/Middlewares/Third_Party/dronecan_dsdlc"]
	path = software/firmware/Middlewares/Third_Party/dronecan_dsdlc
	url = https://github.com/dronecan/dronecan_dsdlc
[submodule "software/firmware/Middlewares/Third_Party/libcanard"]
	path = software/firmware/Middlewares/Third_Party/libcanard
	url = https://github.com/dronecan/libcanard
[submodule "software/firmware/Middlewares/Third_Party/DSDL"]
	path = software/firmware/Middlewares/Third_Party/DSDL
	url = https://github.com/dronecan/DSDL
