# Clangd config for software/shared — paths relative to this directory.
CompileFlags:
  QueryDriver:
    - /usr/bin/arm-none-eabi-gcc
    - /usr/bin/arm-none-eabi-g++

---
If:
  PathMatch: bsp/boards/stm32g431/.*
CompileFlags:
  CompilationDatabase: ../../firmware/build/Debug

---
If:
  PathMatch: bsp/boards/stm32f411/.*
CompileFlags:
  CompilationDatabase: ../../stm32f411/build/Debug

---
If:
  PathMatch: .*
CompileFlags:
  CompilationDatabase: ../../firmware/build/Debug